# Auto detect text files and perform LF normalization
* text=auto
*.md linguist-language=HTML
*.yml linguist-language=HTML
*.html linguist-language=HTML
*.xml linguist-language=HTML
*.css linguist-language=HTML
*.sql linguist-language=HTML
*.uml linguist-language=HTML