---
title: Links
layout: default
---

{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>LINKS</h2>
</div>

<main class="tags-content">

    <ul class="tags-list">
        <li>
            <a href="#联系本人" class="tag">联系本人</a>
            <a href="#友链" class="tag">友链</a>
        </li>

        <li>
            <span class="tag-name" id="友链"> 与本人交♂流 </span>
            <span class="tag-post">Email: route_1@qq.com</span>
            <a class="tag-post" href="https://www.luogu.org/space/show?uid=127140" title="Luogu">Luogu: BillZhou233</a>
            <a class="tag-post" href="https://music.163.com/#/user/home?id=452828619" title="163 Music">163 Music: BillZhou233</a>
            <a class="tag-post" href="https://space.bilibili.com/25333286" title="Bilibili">Bilibili: UID 25333286</a>
            <span class="tag-post">Majsoul: BZ233</span>
        </li>

        <li>
            <span class="tag-name" id="友链"> 友链 </span>
            <span class="tag-post">欢迎与本人互换友链~</span>
            <a class="tag-post" href="/" title="。。。">现在还没有友链喵~</a>
            <span class="tag-post">说明: 若要互换友链,请将您的网站发送至本人邮箱,并注明互换友链</span>
            <span class="tag-post">若本人同意请求,将会电邮通知您</span>
        </li>
    </ul>
</main>
    
{% include footer.html %}
